In [6]:
import yfinance

In [7]:
import os
import sys
os.path.dirname(sys.executable)

'c:\\python37'

In [8]:
import yfinance as yf
import pickle

In [11]:
with open(r'C:\Users\刘琛栒\Desktop\Intern\IPO\data.txt', 'r') as f:
    cont = f.readlines()

In [12]:
stocks = []
for stock in cont:
    stocks.append(stock.strip())

In [13]:
results = {}
cnt = 0
for stock in stocks:
    test=yf.Tickers(stock)
    for ticker in test.tickers:
        try:
            info = ticker.info
            results[stock] = info
        except:
            results[stock] = None
    cnt += 1
    if cnt%10 == 0:
        print(cnt)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420

In [14]:
print(cnt)

428

In [15]:
import json
with open(r'C:\Users\刘琛栒\Desktop\Intern\IPO\JapanIPOinfo.json', 'w') as fp:
    json.dump(results, fp)

In [16]:
import pandas as pd
df = pd.read_json(r'C:\Users\刘琛栒\Desktop\Intern\IPO\JapanIPOinfo.json')
df1 = pd.DataFrame.transpose(df)
df1.head()

,zip,sector,fullTimeEmployees,longBusinessSummary,city,country,companyOfficers,website,maxAge,address1,...,category,fiveYearAverageReturn,regularMarketPrice,logo_url,phone,fax,underlyingSymbol,underlyingExchangeSymbol,headSymbol,uuid
3974.T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3477.T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3969.T,150-0002,Technology,62,ATLED CORP. develops software solutions in Jap...,Tokyo,Japan,[],http://www.atled.jp,1,Shibuya Cross Tower,...,None,None,1903,https://logo.clearbit.com/atled.jp,NaN,NaN,NaN,NaN,NaN,NaN
3968.T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3970.T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df1.iloc[0]

zip                         NaN
sector                      NaN
fullTimeEmployees           NaN
longBusinessSummary         NaN
city                        NaN
                           ...
fax                         NaN
underlyingSymbol            NaN
underlyingExchangeSymbol    NaN
headSymbol                  NaN
uuid                        NaN
Name: 3974.T, Length: 126, dtype: object